/* font style */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 0%;
}

/* header style */
header {
    display: flex;
    justify-content: center;

}

#world-cup-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 600px;

    border-radius: 18px;
    background-color: rgb(27, 25, 25);
}

.world-cup-title {
    width: 45%;
    color: white;
}

h1 {
    font-size: 46px;
}

.btn {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 14px;
    background-color: rgb(227, 15, 15);
    padding: 15px;
    margin-top: 20px;
    border-radius: 3px;
}

.btn:hover {
    background-color: chocolate;
}

.marcelo {
    width: 45%;
}

.marcelo img {
    width: 90%;
    margin-left: 75px;
}

/* header style ends */



@media screen and (max-width: 776px) {
    #world-cup-sec {
        width: 85%;

        flex-direction: column;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: small;
    }

    .btn {

        font-size: 10px;

        padding: 10px;
        margin-top: 10px;
        border-radius: 2px;
    }

    .marcelo {
        width: 45%;
    }

    .marcelo img {
        width: 100%;
        margin: auto;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
        margin-top: 20px;

        float: right;



    }



    .aside-container {

        background-color: none;



    }
}


/* main style */
.section-container {
    display: flex;
    justify-content: center;
    grid-template-columns: 5% 95%;
    gap: 40px;
    margin: 20px 100px;


}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
    float: right;



}


.transfer-btn {
    text-decoration: none;
    font-size: 12px;
    color: rgb(44, 46, 46);
    border: 1px solid rgb(91, 90, 90);
    padding: 5px;
    border-radius: 3px;
}

.icon-sec {
    display: flex;
    align-items: center;
}

.time-icon {
    display: flex;
    align-items: center;

}

.chat-icon {
    display: flex;
    margin-left: 30px;
    align-items: center;

}

.time-icon img {
    margin-right: 5px;
}

.chat-icon img {
    margin-right: 5px;
}

article {
    border: 1px solid seashell;
    width: 310px;
    height: 340px;
    border-radius: 10px;

}

/* starts aside */
.aside-container {
    width: 150px;
    height: 160px;
    background-color: black;
    border: solid black;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;


}

.aside-section {

    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border: solid black;
    border-radius: 5px;
    margin-top: 10px;

    padding: 15px;


}

float: left;
align-items: center;

}

.aside-section a {
    text-decoration: none;

}

.side-btn1 {
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 14px;
    background-color: white;

    padding: 10px;

    border-radius: 3px;
    border: 1px solid black;
}

.side-btn2 {
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 14px;
    background-color: white;
    padding: 10px 40px;

    border-radius: 3px;
    border: 1px solid black;
}

.side-btn3 {
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 14px;
    background-color: rgb(227, 15, 15);
    padding: 10px 55px;

    border-radius: 3px;
    border: 1px solid black;
}

/* aside ends */

/* main ends  */

/* footer starts 
 */
#footer {
    text-align: center;
    width: 100%;
    height: 300px;
    margin-top: 18px;
    background-color: black;
    color: white;
}

h2 {
    padding-top: 50px;
}

hr {

    border: 1px solid rgb(247, 227, 227)
}

.footer-info {
    display: flex;
    justify-content: space-evenly;
}

.footer-info>li {
    list-style: none;
}

.footer-info>li>a {
    color: azure;
    text-decoration: none;
}

.social-icons {
    margin-top: 40px;
}

/* footer ends  */