body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 0%;
}

/* header style */
header {
    display: flex;
    justify-content: center;

}

#world-cup-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 600px;

    border-radius: 18px;
    background-color: rgb(27, 25, 25);
}

.world-cup-title {
    width: 45%;
    color: white;
}

h1 {
    font-size: 46px;
}

.btn {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 14px;
    background-color: rgb(227, 15, 15);
    padding: 15px;
    margin-top: 20px;
    border-radius: 3px;
}

.marcelo {
    width: 45%;
}

.marcelo img {
    width: 90%;
    margin-left: 75px;
}

/* header ends /////////////// */
@media screen and (max-width:) {
    #world-cup-sec {
        width: 85%;

        flex-direction: column;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: small;
    }

    .btn {

        font-size: 10px;

        padding: 10px;
        margin-top: 10px;
        border-radius: 2px;
    }

    .marcelo {
        width: 45%;
    }

    .marcelo img {
        width: 100%;
        margin: auto;
    }

}



/* main starts/////////// */


main {
    margin-top: 20px;
}

.aside-container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: solid black;
    border-radius: 5px;
    margin-top: 20px;

    padding: 15px;


}

.aside-section {

    float: left;
    display: inline-block;

}

.side-btn1 {
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 19px;
    background-color: white;
    margin-top: 5px;
    padding: 10px 14px;

    border-radius: 3px;
    border: 1px solid black;
}

.side-btn2 {
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 19px;
    background-color: white;
    padding: 10px 47px;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid black;
}


.side-btn3 {
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 19px;
    background-color: rgb(227, 15, 15);
    padding: 10px 65px;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid black;
}

.container {
    display: flex;
    justify-content: center;
    grid-template-columns: 5% 95%;
    gap: 50px;


}

.grid-container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    gap: 60px;
    margin-top: 20px;





}

.future {
    display: flex;

}

.containerr {

    border: 1px solid seashell;

    width: 260px;
    height: 240px;
    border-radius: 10px;
}

/* main ends  */

/* footerstars  */

#footer {
    text-align: center;
    width: 100%;
    height: 300px;
    margin-top: 18px;
    background-color: black;
    color: white;
}

h2 {
    padding-top: 50px;
}

hr {

    border: 1px solid rgb(247, 227, 227)
}

.footer-info {
    display: flex;
    justify-content: space-evenly;
}

.footer-info>li {
    list-style: none;
}

.footer-info>li>a {
    color: azure;
    text-decoration: none;
}

.social-icons {
    margin-top: 40px;
}

/* footer ends  */